<div class="form-container card">
  <h3 class="text-center py-3 secondary-color"><%= @title %></h3>

  <div class="card-body">

    <%= form_for(@resource, url: @url, html: {class: "row g-3"}) do |f| %>
      <% @fields.each do |field| %>
        <div class="my-2">
          <% if !field[:label].blank? %>
            <%= f.label field[:label], class:"form-label mb-0 secondary-color" %>
          <% end %>

          <% if field[:type] == "checkbox" %>
            <%= f.check_box field[:name], class:"top-12" %>
          <% elsif field[:type] == "link" %>
            <%= link_to field[:name], field[:path] %>
          <% else %>
            <%= f.text_field field[:name], class: "form-control", autocomplete: field[:autocomplete], type: field[:type], placeholder: field[:placeholder] %>
          <% end %>
        </div>
      <% end %>

      <div class="actions">
        <% if !@cancel.blank? %>
          <%= link_to @cancel[:text], @cancel[:url], class: "btn btn-outline-primary float-start" %>
        <% end %>

        <%= f.submit @submit[:text], class: "btn float-end btn-primary" %>
      </div>
    <% end %>

  </div>

</div>