<p style="color: green"><%= notice %></p>

<%= render @service_block %>

<div>
  <%= link_to "Edit this service block", edit_service_block_path(@service_block) %> |
  <%= link_to "Back to service blocks", service_blocks_path %>

  <%= button_to "Destroy this service block", @service_block, method: :delete %>
</div>
